body {
  width: 100%;
}
.icons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.375em;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #ffffff;
  opacity: 1;
}
.vender-box {
  margin-top: auto;
  align-items: center;
  margin-bottom: auto;
  margin-right: 5em;
  display: flex;
  column-gap: 1em;
}
.icons-container h1 {
  font: normal normal bold 2em Open Sans;
  letter-spacing: 1.28px;
  color: #64a1f5;
  opacity: 1;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.icons-container .vender-pic {
  width: em;
}
